@import "../../../styles/variables.scss";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0px 40px 0px 40px;
  z-index: 20;
  background: linear-gradient(
    90deg,
    rgb(36, 107, 143, 0.9) 0%,
    hwb(270 0% 68% / 0.902) 100%
  );
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);

  @include media-xl() {
    justify-content: space-around;
  }

  span {
    display: none;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    transition: transform 0.3s linear;
    &:active {
      transform: scale(0.9);
    }
  }

  img {
    cursor: pointer;
    width: 170px;
    transition: transform 0.3s linear;
    &:active {
      transform: scale(0.9);
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;

    li {
      color: #ffffff;
      font-weight: 400;
      font-size: 25px;
      cursor: pointer;
      transition: transform 0.3s linear;
      &:active {
        transform: scale(0.9);
      }
    }
  }
}

@media screen and (max-width: 668px) {
  .navbar {
    justify-content: space-around;
    span {
      display: flex;
    }
    img {
      cursor: pointer;
      width: 170px;
      transition: transform 0.3s linear;
      &:active {
        transform: scale(0.9);
      }
    }
    ul {
      display: none;
    }
  }
}
