.button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #246b8f;
    height: 50px;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s linear;
    border-radius: 5px;
    &:active {
      transform: scale(0.9);
    }

    &:disabled {
      pointer-events: none;
      background-color: #c1c1c1;
    }
  }
}
